<%= form_with(model: [@room, @room.messages.build], data: {action: "turbo:submit-end->messages#resetForm", messages_target: 'input_form'}, autofocus: true) do |form| %>
  <div class="form-group">
    <%= form.label :body, class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
