<turbo-stream action="prepend" target="messages">
  <template>
  <div id="<%= dom_id message %>">

  <p>
    <%= message.body %>
  </p>
  <cite><%= message.user.email if message.user %></cite>
</div>
</template>
</turbo-stream>

