<div id="<%= dom_id blah %>">
  <p>
    <strong>Comment:</strong>
    <%= blah.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blah.user_id %>
  </p>

  <p>
    <strong>Blog:</strong>
    <%= blah.blog_id %>
  </p>

</div>
